In [21]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import sqlite3
import math
import datetime 
%matplotlib inline
plt.style.use('seaborn')

In [127]:
dt =pd.read_csv("item.csv")
dt

,itemId,category,name,brandName,url,price,averageRating,totalReviews,retrievedDate
0,100002528,beli-harddisk-eksternal,"TOSHIBA Smart HD LED TV 32"" - 32L5650VJ Free B...",Toshiba,https://www.lazada.co.id/products/toshiba-smar...,2499000,4,8,2019-10-02
1,100003785,beli-harddisk-eksternal,"TOSHIBA Full HD Smart LED TV 40"" - 40L5650VJ -...",Toshiba,https://www.lazada.co.id/products/toshiba-full...,3788000,3,3,2019-10-02
2,100004132,beli-harddisk-eksternal,Samsung 40 Inch Full HD Flat LED Digital TV 4...,LG,https://www.lazada.co.id/products/samsung-40-i...,3850000,3,2,2019-10-02
3,100004505,beli-harddisk-eksternal,"Sharp HD LED TV 24"" - LC-24LE175I - Hitam",Sharp,https://www.lazada.co.id/products/sharp-hd-led...,1275000,3,11,2019-10-02
4,100005037,beli-harddisk-eksternal,Lenovo Ideapad 130-15AST LAPTOP MULTIMEDIA I A...,Lenovo,https://www.lazada.co.id/products/lenovo-ideap...,3984100,5,1,2019-10-02
...,...,...,...,...,...,...,...,...,...
10937,9467887,shop-televisi-digital,"Toshiba 32L3750VJ Digital Tv DVB-T2 LED TV 32""...",Toshiba,https://www.lazada.co.id/products/toshiba-32l3...,1990000,4,12,2019-10-02
10938,9467898,shop-televisi-digital,Samsung 43K5002AK Televisi LED - Khusus JABODE...,Samsung,https://www.lazada.co.id/products/samsung-43k5...,4590000,1,1,2019-10-02
10939,9467899,shop-televisi-digital,"Sharp 32LE180i AQUOS LED TV 32 "" Khusus JABOD...",Sharp,https://www.lazada.co.id/products/sharp-32le18...,1990000,4,2,2019-10-02
10940,9548087,shop-televisi-digital,"Akari LED TV LE-50D88 50"" FULL HD (Hitam) - ...",Akari,https://www.lazada.co.id/products/akari-led-tv...,4790000,5,1,2019-10-02
10941,9548767,shop-televisi-digital,"Akari LED TV LE-25B88 25"" HD READY (Hitam) -...",Akari,https://www.lazada.co.id/products/akari-led-tv...,1590000,4,2,2019-10-02

In [13]:
#lima data teratas
dt.head()

,itemId,category,name,brandName,url,price,averageRating,totalReviews,retrievedDate
0,100002528,beli-harddisk-eksternal,"TOSHIBA Smart HD LED TV 32"" - 32L5650VJ Free B...",Toshiba,https://www.lazada.co.id/products/toshiba-smar...,2499000,4,8,2019-10-02
1,100003785,beli-harddisk-eksternal,"TOSHIBA Full HD Smart LED TV 40"" - 40L5650VJ -...",Toshiba,https://www.lazada.co.id/products/toshiba-full...,3788000,3,3,2019-10-02
2,100004132,beli-harddisk-eksternal,Samsung 40 Inch Full HD Flat LED Digital TV 4...,LG,https://www.lazada.co.id/products/samsung-40-i...,3850000,3,2,2019-10-02
3,100004505,beli-harddisk-eksternal,"Sharp HD LED TV 24"" - LC-24LE175I - Hitam",Sharp,https://www.lazada.co.id/products/sharp-hd-led...,1275000,3,11,2019-10-02
4,100005037,beli-harddisk-eksternal,Lenovo Ideapad 130-15AST LAPTOP MULTIMEDIA I A...,Lenovo,https://www.lazada.co.id/products/lenovo-ideap...,3984100,5,1,2019-10-02

In [18]:
#deskripsi 
dt.describe()

             itemId         price  averageRating  totalReviews
count  1.094200e+04  1.094200e+04   10942.000000  10942.000000
mean   2.936823e+08  3.020219e+06       4.171632     27.369494
std    2.090568e+08  6.681453e+06       1.032055    260.253817
min    6.068000e+03  1.000000e+03       1.000000      1.000000
25%    1.082924e+08  7.920000e+04       4.000000      1.000000
50%    3.540792e+08  1.095000e+06       4.000000      2.000000
75%    4.527141e+08  3.959000e+06       5.000000      7.000000
max    7.242170e+08  2.750000e+08       5.000000   9631.000000

In [16]:
dt.category.value_counts()

beli-harddisk-eksternal    4422
jual-flash-drives          3318
beli-smart-tv              1290
shop-televisi-digital      1211
beli-laptop                 701
Name: category, dtype: int64

In [6]:
conn = sqlite3.connect('database.db')

In [8]:
c = conn.cursor()

In [132]:
c.executescript('drop table if exists barang')
c.executescript('drop table if exists katagori')
c.executescript("create table katagori(id_kategori int primary key, kategori varchar(50) not null)")
c.executescript("create table barang(id_barang int primary key, nama_barang varchar(50) not null)")

In [124]:
katagori = dt['category'].unique()
barang = dt['brandName'].unique()
for i,j in dt.iterrows():   
  
    kat = -1
    for index, value in enumerate(katagori):
        if value == j[1]:
            kat = index+1
            break
    bar = -1
    for index, value in enumerate(barang):
        if value == j[3]:
            kat = index+1

In [105]:
c.execute("delete from katagori")
for index, i in enumerate(kategori): 
    c.execute("INSERT INTO KATAGORI VALUES(" + str(index+1) + ", '" + str(i) + "')")
conn.commit()

In [126]:
c.execute('''SELECT * FROM KATEGORI''')

KATEGORI = []
for row in c.fetchall():
    KATEGORI.append(row)
print("========================KATEGORI================================")
print(KATEGORI)
print("============================================================")
c.execute('''SELECT * FROM BARANG''')

BARANG = []
for row in c.fetchall():
    BARANG.append(row)
print("========================BARANG================================")
print(BARANG)
print("============================================================")

========================KATEGORI================================
[(1, 'beli-harddisk-eksternal'), (2, 'beli-laptop'), (3, 'beli-smart-tv'), (4, 'jual-flash-drives'), (5, 'shop-televisi-digital')]
============================================================
========================BARANG================================
[]
============================================================